<header class="nav-bar" :class="{ 'scrolled-nav': scrollNav }">
  <nav>
    <ul v-show="!mobile" class="navigation>">
      <li>
        <router-link class="link" :to="{ name: 'Home' }">Home</router-link>
      </li>
      <li>
        <router-link class="link" :to="{ name: 'MQTT' }">MQTT</router-link>
      </li>
      <li>
        <router-link class="link" :to="{ name: 'Login' }">Login</router-link>
      </li>
    </ul>
    <div class="icon">
      <i @click="toggleMobileNav" v-show="mobile" class="far fa-bars" :class="{ 'icon-active': mobileNav }"></i>
    </div>
    <transition name="mobile-nav">
      <ul v-show="mobileNav" class="drop-down-nav">
        <li>
          <router-link class="link" :to="{ name: 'Home' }">Home</router-link>
        </li>
        <li>
          <router-link class="link" :to="{ name: 'MQTT' }">MQTT</router-link>
        </li>
        <li>
          <router-link class="link" :to="{ name: 'Login' }">Login</router-link>
        </li>
      </ul>
    </transition>
  </nav>
</header>